[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {version = "*", extras = ["voice"]}
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus"}
wavelink = "==0.9.10"
sqlalchemy = "==1.4.31"
asyncpg = "==0.25.0"
loguru = "==0.6.0"
aiohttp = "==3.7.4.post0"
pyyaml = "==6.0"
jishaku = "==2.3.2"
psutil = "==5.9.0"
python-dateutil = "==2.8.2"
alembic = "==1.7.6"
asyncpraw = "==7.5.0"
spotify = "==0.10.2"
backoff = "==1.11.1"
html2text = "==2020.1.16"
beautifulsoup4 = "==4.10.0"
humanize = "==4.0.0"
yarl = "==1.7.2"
lxml = "==4.8.0"
tabulate = "==0.8.9"
aioradios = "==0.2.6"

[dev-packages]
flake8 = "==4.0.1"
flake8-annotations = "==2.7.0"
flake8-bugbear = "==22.1.11"
flake8-import-order = "==0.18.1"
flake8-tidy-imports = "==4.6.0"
pep8-naming = "==0.12.1"
pre-commit = "==2.17.0"

[scripts]
start = "python -m bot"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
