[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus"}
wavelink = "*"
"discord.py" = {extras = ["voice"], version = "*"}
html2text = "*"
aiosqlite = "*"
python-dateutil = "*"
beautifulsoup4 = "*"
psutil = "*"
humanize = "*"
yarl = "*"
spotify = {git = "https://github.com/Axelancerr/spotify.py"}
jishaku = {git = "https://github.com/Gorialis/jishaku"}
aiohttp = "*"
pyyaml = "*"
loguru = "*"

[dev-packages]

[scripts]
start = "python -m bot"
