[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
discord-ext-menus = {git = "https://github.com/Rapptz/discord-ext-menus"}
wavelink = "*"
html2text = "*"
python-dateutil = "*"
beautifulsoup4 = "*"
psutil = "*"
humanize = "*"
yarl = "*"
spotify = "*"
jishaku = "*"
aiohttp = "*"
pyyaml = "*"
loguru = "*"
asyncpg = "*"
sqlalchemy = "*"
asyncpraw = "*"
alembic = "*"
lxml = "*"
tabulate = "*"
backoff = "*"
aioradios = "*"

[dev-packages]
flake8 = "*"
flake8-annotations = "*"
autopep8 = "*"
flake8-bugbear = "*"
flake8-import-order = "*"
pre-commit = "*"

[scripts]
start = "python -m bot"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
