aiohttp==3.6.3
aiosqlite==0.16.0
async-timeout==3.0.1
attrs==20.3.0
cffi==1.14.4
chardet==3.0.4
-e git+https://github.com/Rapptz/discord-ext-menus@6f2b873bf0d28903eb752aa1166b3aac26dc9007#egg=discord_ext_menus
discord.py==1.6.0
html2text==2020.1.16
idna==3.1
multidict==4.7.6
py-stackexchange==2.2.7
pycparser==2.20
PyNaCl==1.4.0
six==1.15.0
typing-extensions==3.7.4.3
wavelink==0.9.6
yarl==1.5.1
